.Admin-earning{
  animation: fadeInOut 1s;
       
  transition: 0.8s !important;
  transition-duration: 0.9s !important;
  transition-timing-function: ease !important;
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
    
  }
  50% {
    opacity: 1;
    transition: 450ms;
  }
 
}