.small-box{
   width: 320px;
   padding: 20px;
   margin-left: 10px;
 
   animation: fadeInOut 1s;
}
.small-box.bg-range{
background-color: #15236e!important;
width: 600px;
}

.small-box.bg-info {
    background-color: #15236e!important;
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
    
  }
  70% {
    opacity: 1;
    transition: 450ms;
  }
 
}
.small-box>p{
    text-align: right;
    color: rgb(138, 177, 255);
}
.small-box>.inner>h3{
    
    font-size: 30px;
    text-align: right;
    color: yellow;
}
.main-small-box{
    margin-left: 2%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(135, 135, 135);
    
}
.small-box .icon svg {
    font-size: 70px;
    position: absolute;
    right: 226px;
    top: 15px;
    transition: -webkit-transform .3s linear;
    transition: transform .3s linear;
    transition: transform .3s linear,-webkit-transform .3s linear;
}


.inner{
    color: black;
   margin-bottom: 6px ;
    border-bottom: 2px solid rgb(118, 116, 116);
}
.bg-info {
    background-color: #ffffff!important;
}
.container-heading{
    padding-top: 5px;
    margin-left: 5%;
    padding-bottom :30px;
}
.container-heading>h1{
   color: rgb(230, 251, 141);
    margin-top: 20px;
    padding-top: 40px;
    margin-bottom: -19px;
    font-size: 30px;
    
}
h2{  font-size: 15px !important;
    color: rgb(249, 226, 110) !important;
}
@media (max-width:1130px){
    .main-small-box{
        place-content: center;
     
    }
}

.css-hyum1k-MuiToolbar-root{
      background-color: #19072e;
}
.section{
    place-items: center;
}
@media (min-width: 600px){

.css-hyum1k-MuiToolbar-root {
    background-color: #19072e;
    min-height: 64px;
}}
@media (min-width: 600px){

.css-2dum1v-MuiDrawer-docked .MuiDrawer-paper {
    width: calc(64px + 1px);
    background-color: #371b58;
}}
@media (min-width: 600px){

.css-1r9jet7 {
    min-height: 64px;
    background-color: #371b58;
}}